.header {
    margin: 29px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 2.13;
    letter-spacing: 0.07em;
}

.nav {
    display: flex;

}

.nav__list {
    display: flex;
    gap: 5vh 42px;
    flex-wrap: wrap;
}

.nav__item {
    position: relative;

}

.nav__link span {
    font-weight: 800;
}

.nav__link {
    display: block;
    transition: var(--transition)
}

.nav__link:hover {
    transform: translateY(-5px);
    text-shadow: 2px 5px 4px var(--shadow);
}

.header__search {
    position: absolute;
    right: 84px;

    display: flex;
    gap: 10px;
    text-transform: uppercase;
    transition: var(--transition)
}

.header__search:hover {
    transform: scale(1.2);
    text-shadow: 2px 2px 4px var(--shadow);
}

.title {
    font-size: 37px;
    line-height: 1.07;
    color: #de343d;
}

/* =================== */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: absolute;
    right: 5vh;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: black;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}