@import "font.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";









/* ====================================== */
.main__hero {
    margin-bottom: 86px;
}

.main__gallery {
    margin-bottom: 120px;
}

.main__banner {
    margin-bottom: 87px;
}

.main__catalog {
    margin-bottom: 830px;
}

/* ================================ */
.hero {
    min-height: 856px;
    width: 100%;
    background: linear-gradient(209deg, #de343d 0%, #ffb800 100%);
    overflow: hidden;
}


.hero__wrapper {
    position: relative;

}

.hero__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s;

}

.hero__slide-title {
    width: 2200px;
    font-size: 383px;
    letter-spacing: -0.07em;
    color: #ffffff24;
    z-index: -2;
    position: absolute;
    left: -5%;
    display: flex;
}

.hero__slide-img {
    position: relative;
}



.hero__slide-bg {
    position: absolute;
    top: 3%;
    left: -10%;
    z-index: -1;
}

.hero__pagination.swiper-pagination-bullets {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    left: 31px;
    top: 30%;
    z-index: 11;
    width: 1%;
}

.hero__slider .swiper-slide-next,
.hero__slider .swiper-slide-prev {
    visibility: hidden;
}

.hero__button {
    display: flex;
    margin: 0 206px 78px auto;
}

.hero__button:hover {
    color: black;
    background: #fff;
}

/* ========================= */

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid white;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    content-visibility: hidden;
    opacity: .37;
    transition: var(--transition);
    position: relative;
}

.swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    height: 2px;
    width: 50px;
    background-color: #ffffff;
    display: block;
}

.swiper-pagination-bullet:hover {
    background: #fff;
}

.swiper-pagination-bullet-active {
    content-visibility: visible;
    opacity: .67;
    background: white;
    position: relative;
    transform: translateX(-10px);
    transition: var(--transition);
}


/* =============================== */



.gallery__title {
    text-align: center;
    margin-bottom: 40px;
}

.gallery__slider {
    position: relative;
    margin-bottom: 70px;
}



.gallery__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.gallery-slide__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    white-space: nowrap;
}

.gallery__slide-img {
    background: #f9f9f9;
    min-width: 401px;
    min-height: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__slide-img img {
    margin-bottom: 40px;
}

.gallery__slide-subtitle {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.07em;
    color: #9c9c9c;
}

.gallery__slide-title {
    font-size: 25px;
    line-height: 1.4;
    color: #040404;
}

.gallery__slide-price {
    font-size: 20px;
    line-height: 1.4;
    color: #040404;
}

.gallery__slide-size {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    color: #de343d;
}

.gallery__next,
.gallery__prev {
    position: absolute;
    z-index: 10;

}

.gallery__next path,
.gallery__prev path {
    transition: var(--transition);
}

.gallery__prev {
    top: 35%;
    left: -0.7%;
}

.gallery__next {
    top: 35%;
    right: -0.7%;
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #9c9c9c8a;
}

.gallery__button {
    border: 1.56px solid #dedede;
    color: #808080;

    transition: var(--transition);
}

.gallery__button:hover {
    color: var(--black);
    border: 1.56px solid var(--black);
}

.gallery-button__container {
    display: flex;
    justify-content: center;
}

/* ====================================== */



.slogan__inner {
    padding: 0 95px 0 225px;
}

.slogan__text {
    display: inline;
    font-size: 105px;
    line-height: 1.4;
    text-transform: capitalize;
    color: #000;

}

.mobile-break {
    display: none;
}

.slogan-text__img {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 16px;
    margin: 0px -110px 0 -99px;
    max-width: 320px;
}

.slogan-text__img img {
    width: 100%;
}

.slogan-text__img:nth-child(2) {
    top: 0;
    margin-left: -20px;
}

.slogan-text__img:last-child {
    top: 25px;

}



.slogan__logos {
    display: flex;
    justify-content: center;
    padding: 0 445px 166px 255px;
}

.slogan-logos__container {
    margin-top: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 921px;
}

/* ----------------------------------- */


.running-line__container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #ffffff;
}

.banner__running-line {
    height: 67px;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    animation: running-line 8s linear infinite;
}

.banner__running-line img {
    width: 90px;
    height: 30px;
    margin-top: 12px;
}



@keyframes running-line {
    0% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(0);
    }
}

.banner-img__container {
    position: relative;
    margin: 0 -15px;
}

.banner__img {
    position: relative;
}

.banner__img::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    background: #c4c4c433;
}

.banner__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__title {
    width: 2200px;
    font-size: 383px;
    letter-spacing: -0.07em;
    color: #ffffff24;
    z-index: 10;
    position: absolute;
    display: flex;
    left: -4%;
    top: 30%;
}


/* ===================================== */


.catalog__inner {
    padding: 0 300px;
    display: flex;
    flex-direction: column;
}

.catalog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
}



.catalog__ui {
    display: flex;
    align-items: center;
    gap: 30px;
}

.catalog__filter,
.catalog__sort {
    border: 1.26px solid #dedede;
    padding: 5px 20px;
    font-size: 15px;
    line-height: 2.56;
    letter-spacing: 0.08em;
    color: #808080;
}

.catalog-filter__options,
.catalog-sort__options {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.catalog-filter__options--show,
.catalog-sort__options--show {
    max-height: 500px;
}

.catalog__filter:hover,
.catalog__sort:hover {
    border: 1.26px solid var(--black);
    color: var(--black);
}

.catalog__filter.clicked,
.catalog__sort.clicked {
    border: 1.26px solid var(--black);
    color: var(--black);
}

.catalog__filter path,
.catalog__sort path {
    transition: var(--transition);
}

.catalog__filter:hover path,
.catalog__sort:hover path {
    fill: #000;
}



.catalog__type {
    display: flex;
    align-items: center;
    justify-content: center;


}

.catalog__line,
.catalog__block {
    border: 1.26px solid #dedede;
    padding: 15px 20px;
    height: 50px;
    background: transparent;
    transition: var(--transition);
}

.catalog__line:hover,
.catalog__block:hover {
    border: 1.26px solid #010101;
}

.catalog__line.clicked,
.catalog__block.clicked {
    border: 1.26px solid #010101;
}

.catalog__line.clicked path,
.catalog__block.clicked path {
    fill: #000;
}

.catalog__line path,
.catalog__block path {
    transition: var(--transition);
}

.catalog__line:hover path,
.catalog__block:hover path {
    fill: #000;
}

.catalog__bottom.list-view {
    display: block;
    transition: var(--transition)
}

.catalog__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 90px;
    transition: var(--transition)
}

.catalog__product {
    transition: var(--transition)
}


.catalog__slide-img {
    background: #f9f9f9;
    min-width: 401px;
    min-height: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__slide-img img {
    margin-bottom: 40px;
}

.catalog__slide-subtitle {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.07em;
    color: #9c9c9c;
}

.catalog__slide-title {
    font-size: 25px;
    line-height: 1.4;
    color: #040404;
}

.catalog__slide-price {
    font-size: 20px;
    line-height: 1.4;
    color: #040404;
}

.catalog__slide-size {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    color: #de343d;
}

.secondary {
    opacity: 0.5;
}

.catalog-bottom__button {
    font-size: 20px;
    line-height: 2.56;
    letter-spacing: 0.08em;
    color: #040404;
    border: 1.56px solid #000;
    padding: 6px 24px;
    align-self: center;
}

/* ============================ */
/* ============================= */
/* ============================ */
/* ============================= */

@media (max-width: 1700px) {
    .slogan__inner {
        text-align: center;
        padding: 0 5px;
    }

    .slogan-text__img:nth-child(2) {
        margin-top: -90px;
    }

}

@media (max-width: 1600px) {
    .hero__slide-title {
        width: 100%;
        text-align: center;
    }

    .banner__title {
        width: 100%;
        text-align: center;
        top: 12%;
    }

    /* --------------- */

    .catalog__bottom {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1400px) {
    .slogan-text__img:nth-child(2) {
        margin: -90px -70px 0 0;
    }

    /* ------------ */
    .catalog__inner {
        padding: 0 100px;
    }


    .catalog__filter,
    .catalog__sort {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 1000px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #ffffff;
        padding: 10vh 15px 30px;
        font-size: 24px;
        justify-content: center;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .header__search {
        position: static;
    }

    /* --------------- */

    .hero__slide-img img {
        transform: scale(0.7);
    }


    .hero__slide-title {
        transform: scale(0.8);
    }

    .banner__title {
        transform: scale(0.8);
    }


    .hero__slide-bg {

        top: 5%;
        left: -3%;

    }

    /* ------------------- */
    .slogan__logos {
        padding: 0;
    }

    /* ------------- */

    .footer {
        padding: 60px;
    }

    .footer__col {
        justify-content: center;
    }

    /* ---------------------- */


    .catalog__title {
        margin-right: 25px;
    }


    .catalog__top {
        flex-direction: column;
        gap: 20px;
    }

    .catalog__bottom {
        grid-template-columns: 1fr;
    }

    .catalog__slide-size {
        margin-bottom: 30px;
    }

}

@media (max-width: 800px) {
    .hero__slide-img img {
        transform: scale(0.5);
    }


    .hero__slide-title {
        transform: scale(0.6);
        left: -17%;
    }

    .banner__title {
        transform: scale(0.6);
        left: -17%;
    }


    .hero__slide-bg {
        top: 8%;
        left: 2%
    }

    /* -------------------- */

    .slogan__text {
        font-size: 80px;
        line-height: 1;
    }

    .slogan-logos__container {
        margin-top: 52px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
}

@media (max-width: 600px) {

    .hero__slide-img img {
        transform: scale(0.3);
    }


    .banner__title {
        transform: scale(0.4);
        left: -19%;
    }


    .hero__slide-bg {
        top: 11%;
        left: 6%;
    }



    /* ------------ */
    .footer {
        padding: 30px;
    }

    .footer__col {
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    .footer__list {
        gap: 0;
        align-items: center;
    }

    .footer__list-title {
        margin-bottom: 5px;
    }

    .footer__link {
        display: flex;
    }

    /* ------------------ */

    .slogan__text {
        font-size: 70px;
        line-height: 1;
    }

    /* ----------------- */
    .banner__logo {
        transform: translate(-50%, -50%) scale(0.8);
    }

    /* ----------------- */
    .catalog__inner {
        padding: 0 30px;
    }

    .catalog__title {
        text-align: center;
    }

    .catalog__ui {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .hero__slide-title {
        display: none;
    }

    .banner__title {
        display: none;
    }

    .hero__slide-bg {

        transform: scale(3.5);
        left: 15%;
        top: 18%;
    }

    .hero__button {
        margin: 0 206px 76px 130px;
    }

    /* -------------------- */

    .gallery__inner {
        transform: scale(0.9);
    }

    /* ------------- */
    .slogan__text {
        font-size: 60px;
    }

    .slogan-text__img:nth-child(2) {
        display: none;
    }

    /* ------------------------- */
    .banner__logo {
        transform: translate(-50%, -50%) scale(0.6);
    }
}