body {
    background-color: #0c0b0be2;
    overflow-y: auto;
    height: 1000px;
}

.block {
    color: #fdfdfd;
    height: 50%;
}

.line {
    position: relative;
}

.white {
    background-color: #ffffff;
    position: fixed;
    right: 50px;
    bottom: 100px;
    height: 100px;
    width: 50%;
    border-radius: 20px;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100px;
    position: relative;
    left: 50px;
    bottom: 50px;
}